:root
{
  --uncblue: RGB(1,45,91);
  --uncgold: RGB(254,189,54);
  --uncgrey: RGB(235,235,235);

  background-color: var(--uncgrey);
}

h1
{
  font-size: 48px;
  text-align: center;
  text-decoration: underline;
  color: var(--uncblue);
}

img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footertext
{
  font-style: italic;
  margin-top: 100px;
  text-align: center;
  color: var(--uncblue);
}
  
ul li
{
  font-weight: bold;
  font-decoration: italic;
  color: var(--uncblue);
}

h2
{
  text-align: center;
  font-decoration: italic;
  color: var(--uncblue);
}

h3
{
  color: var(--uncblue);
  font-decoration: italic;
  text-align: center;
}

h2 + p 
{
  text-align: center;
}

h2 + p + a 
{
  text-align: center;
  display: block;
}

th
{
  color: var(--uncblue);
  text-align: center;
  font-weight: bold;
}

td
{
  color: var(--uncblue);
  text-align: center;
  font-weight: bold;
}

table
{
  margin-left: auto;
  margin-right: auto;
}

li
{
  display: inline;
  text-align: center;
}
