:root
{
  --uncblue: RGB(1,45,91);
  --uncgold: RGB(254,189,54);
  --uncgrey: RGB(235,235,235);

  background-color: var(--uncgrey);
}

h1
{
  font-size: 48px;
  text-align: center;
  text-decoration: underline;
  color: var(--uncblue);
}

img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2
{
  text-align: center;
  text-decoration: underline;
  color: var(--uncblue);
}

nav
{
    border: 7px var(--uncgold) solid;
}
section
{
    border: 5px var(--uncblue) solid;
    margin: 5px;
    margin-top: 50px;
}
.date
{
    color: var(--uncgold);
    font-weight: bold;
}

ul li
{
    list-style: none;
    padding-left: 0px;
    font color: var(--uncblue);
}
